body,
html {
	padding: 0;
	margin: 0;
}
 .el-dropdown {
 	margin-top: 12px;
	width: 97px;
	height: 27px;
	border: solid 1px rgba(255, 255, 255, 0.3);
	color: #fff;
	line-height: 27px;
	text-align: center;
}
.point{
	cursor: pointer;
}
.el-dropdown-menu__item:focus, .el-dropdown-menu__item:not(.is-disabled):hover{
	background-color: #fff;
    color: #000;
}
.el-dropdown-menu,.el-dropdown-menu__item{
	background-color: #000;
	color: #fff;
	/*padding: 0 20px;*/
}
.el-popper[x-placement^=bottom] .popper__arrow::after {
    top: 1px;
    margin-left: -6px;
    border-top-width: 0;
    border-bottom-color: #000;
}
/*.el-popper[x-placement^=bottom] .popper__arrow{
	    border-bottom-color: #000;
}*/
