	@media (max-width: 900px) {
		.home-container .top {
			display: flex;
			background-color: #fff;
			height: 0.44rem;
			justify-content: space-between;
		}
		.home-container .top .left-img {
			display: flex;
			align-items: center;
		}
		.home-container .top .menu {
			background: #f1f1f1;
			margin-right: 0;
			display: flex;
			align-items: center;
		}
		.home-container .point.el-dropdown.point {
			background-color: #fff;
			border-radius: 0.04rem;
			border: 1px solid #ddd;
			display: block;
			padding: 1px 4px;
			width: auto;
			color: #333;
			margin-top: 0;
		}
		.home-container .top .menu .menu-cart {
			width: 0.44rem;
			height: 0.44rem;
			background: rgb(242, 165, 6);
			margin-left: 0;
		}
		.home-container .top .menu .menu-cart img {
			width: 0.3rem;
			height: 0.3rem;
			padding-top: 0.07rem;
			padding-left: 0.07rem;
		}
		.home-container .top .menu .menu-cart.user img{
			width: 0.2rem;
			height: 0.2rem;
			padding-top: 0.12rem;
			padding-left: 0.12rem;
		}
		.home-container .top .menu .menu-cart.user .num{
			position: absolute;
			right: 0;
			top:0;
		}
		.home-container .select{
			margin-top: 0.44rem;
			overflow-x: auto;
			max-width: 100%;
		}
		.home-container .select li{
			width: 1.2rem;
			font-size: 0.14rem;
			min-width: 0.2rem;
		}
		.select-ul{
			width: 600px;
			flex-wrap: nowrap;
		}
		.main-page{
			
		}
		.main-page .el-carousel--horizontal{
			margin:0!important;
			height: 2rem;
		}
		.main-page .el-carousel--horizontal .el-carousel__container{
			height: 2rem!important;
		}
		.main-page .el-carousel--horizontal .el-carousel__item{
			width: 100%!important;
		}
		.main-page  .img-contain{
			width: 100%!important;
			display: flex!important;
			align-items: center;
		}
		.main-page .img-contain .img-style{
			
		margin:0;
		padding: 0;
		}
	}